.about-page {
  h2 {
    color: orangered;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: black;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .content-holder {
    margin-right: 2rem;
    margin-top: 6rem;
    p {
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 300;
    }
    button {
      border: solid;
      border-radius: 30px;
      background-color: #5b7fbd;
      color: white;
      font-weight: bold;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .img-box {
    img {
      margin-left: 2rem;
      margin-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
