.farmer {
  padding-top: 4rem;
  .content-box {
    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .img-box {
    img {
      margin-left: 2rem;
    }
    i {
      font-size: 40px;
    }
  }
}
