.founder {
  margin-top: 3rem;

  .title-box {
    h2 {
      color: orangered;
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      font-weight: thick;
    }
  }
  .img-box {
    img {
      margin-left: 4rem;
    }
  }
  .content-box {
    p {
      margin-top: 3rem;
    }
  }
}
