header {
  position: relative;
  .top-bar {
    background-color: #5b7fbd;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    color: white;
  }
  .nav-bar {
    position: absolute;
    width: 100%;
  }
}

.mail-box {
  display: inline-flex;
  i {
    padding-right: 10px;
    padding-top: 5px;
  }
}
.language {
  display: flex;

  i {
    padding-right: 10px;
    padding-top: 5px;
  }
  p {
    margin-right: 5px;
  }
}
.social-icon {
  i {
    padding-top: 5px;
    padding: 5px;
  }
}
.mobile-box {
  display: inline-flex;
  i {
    padding-right: 10px;
    padding-top: 5px;
  }
}
.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 2rem;
    font-size: 16px;
    font-weight: 600;
  }
}
.banner {
  position: relative;
  .banner-img-holder {
    img {
      width: 100vw;
      height: auto;
    }
  }

  .content-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
