.Testimonials {
  .title-box {
    h2 {
      color: orangered;
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      font-weight: thick;
    }
  }
}
.container {
  .card {
    border: solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    border-color: white;
    i {
      font-size: 50px;
      color: #5b7fbd;
      padding-bottom: 5px;
    }
  }
}
