@import "./header";
@import "./rectangle";
@import "./about-us";
@import "./work";
@import "./india-map.scss";
@import "./donate";
@import "./farmer";
@import "./founder";
@import "./testimonials";
@import "./gallery";
@import "./help-box";
@import "./footer";
@import "./donate";
